<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cites</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css"  rel="stylesheet"/>
</head>
<body class="panel-body">
    @*<div show-for="Index" class="panel-body bg-danger">
        <h2>Important Message</h2>
    </div>*@
    <div>
        @RenderBody()
    </div>
</body>
</html>
